{% extends 'base.html.twig' %}

{% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/aboutUs.css') }}">{% endblock %}


{% block body %}


<section class="container">
    <article>
        <h1>Vous éditer</h1>

        <h3>Comment éditer son livre avec RDM éditions</h3>

        <p>Recourrez au savoir-faire de RDM Editions pour éditer votre livre, magazine ou mini-mag! Nous pouvons valoriser vos écrits dans le respect absolu de l'auteur que vous êtes.
            Vous pouvez également compter sur nous et notre réseau pour créer et vendre votre ouvrage.</p>

        <h3>Quel type de livre publions-nous ?</h3>
        <p>Livres avec ou sans illustrations
            Magazines et journaux</p>

        <h3>Comment nous envoyer un manuscrit ?</h3>
        <p>Vous voulez partager votre écrit ? Alors contactez-nous et envoyez-nous votre œuvre soit :<br>
            Par internet à cette <a href="mailto:contact@rdm-editions.com">adresse</a>.<br>
            Soit par courrier au 54, rue Paul Verlaine, 69100 Villeurbanne.</p>
    </article>
</section>

<section class="container">
    <h3>Nous trouver</h3>
    <div id = "map"></div>
</section>

{% endblock %}

{% block javascripts %}<link rel="javascript" href="{{ asset('js/googleMap.js') }}">{% endblock %}

