.bookPresentation{
    padding: 20px;
}

.bookPresentation .img-container{
    width: 300px;
    height: 300px;
    margin: 20px auto 10px auto;
}

.bookPresentation .info-container{
    width: 100%;
    margin: auto;
    border-collapse: separate;
    border-spacing: 0 10px;
}

.bookPresentation .info-container td{
    text-align: right;
    font-weight: bold;
}

.bookPresentation .info-container .tag{
    background: #5d1c43;
    color: white;
    padding: 5px 10px;
}

.bookPresentation .img-container img{
    cursor: pointer;
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.bookPresentation h1{
    text-align: center;
}

.bookPresentation .description{
    padding: 50px 0 0 0;
    font-size: 1.2em;
    text-align: justify;
}

.bookPresentation .row:nth-child(2){
    height: 70px;
}

.bookPresentation .row:nth-child(2) div{
    height: 100%;
}

.bookPresentation .button-facebook a {
    background: #3b5998;
    border: 1px solid white;
    bottom: 5px;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    position: absolute;
    text-decoration: none;
    right: 15px;
    -webkit-transition: background 0.1s, color 0.3s;
    -moz-transition: background 0.1s, color 0.3s;
    -o-transition: background 0.1s, color 0.3s;
    transition: background 0.3s, color 0.3s;
}

.bookPresentation .button-facebook a:hover{
    background: white;
    border: 1px solid #3b5998;
    color: #3b5998;
}


hr{
    box-shadow: 1px 1px 1px black;
}


.pressSection{
    margin-bottom: 50px;
}

.pressSection h2{
    margin-bottom: 40px;
    font-weight: bold;
    text-transform: uppercase;
}

.pressSection .row > div{
    padding: 0 40px;
}

.pressCard{
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid #5d1c43;
    -webkit-box-shadow: 1px 1px 2px black;
    -moz-box-shadow: 1px 1px 2px black;
    box-shadow: 1px 1px 2px black;
    color: #5d1c43;
    padding-bottom: 10px;
}

.pressCard h3{
    border-bottom: 1px solid #5d1c43;
    font-weight: bold;
    padding-bottom: 10px;
}

.pressCard .pressImage{
    height: 200px;
    text-align: center;
}

.pressCard img{
    -webkit-box-shadow: 1px 1px 1px black;
    -moz-box-shadow: 1px 1px 1px black;
    box-shadow: 1px 1px 1px black;
    cursor: pointer;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

@media only screen and (max-width: 991px){
    .bookPresentation .row:nth-child(2){
        height: auto;
    }

    .bookPresentation a{
        bottom: 0;
        position: relative;
        right: 0;
    }

    .bookPresentation .row:nth-child(2) > div:nth-child(2){
        text-align: right;
    }

    .bookPresentation .img-container{
        width: 200px;
        height: 200px;
    }

    .bookPresentation .info-container{
        width: 100%;
    }


}