@import 'https://fonts.googleapis.com/css?family=Coiny';

#carousel{
    background: rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: inset 0 -2px 10px black;
    -moz-box-shadow: inset 0 -2px 10px black;
    box-shadow: inset 0 -2px 10px black;
    height: 30vh;
}

#carousel .container-fluid,
#carousel .container-fluid .row,
#carousel .container-fluid .row .slide,
#carousel .container-fluid .row .slide > div{
    height: 100%;
}

#carousel .container-fluid .row .slide{
    display: none;
}

#carousel .container-fluid .row .active{
    display: block;
}

#carousel .img-container{
    height: 20vh;
    width: 20vh;
    margin: 5vh auto;
}

#carousel .img-container img{
    max-height: 100%;
    max-width: 100%;
}

#carousel .title-container{
    border-left: 4px solid white;
    height: 20vh;
    width: 100%;
    margin: 5vh auto;
}

#carousel .title-container p{
    color: #ffffff;
    padding: 0 20%;
}

#carousel .title-container p .quote{
    font-family: 'Coiny', cursive;
    font-size: 1.1em;
}

@media only screen and (min-width: 767px){
    #carousel .title-container p{
        font-size: 3em;
    }
}