#legalNotice{
    text-align: justify;
}

#legalNotice h1 {
    text-align: center;
    font-size: 2.5em;
}

#legalNotice h1, #legalNotice h2 {
    margin-top: 30px;
    text-align: left;
}

#legalNotice h2 {
    font-size: 1.8em;
}
#legalNotice p:last-child{
    margin-bottom: 50px;
}