/* header */

.navbar-default {
    background: none;
}

.navbar-brand {
    height:auto;
}

.navbar-brand>img {
    height: 170px;
    margin-left: 40px;
    margin-bottom: 28px;
}

.navbar-default .navbar-nav > .active > a {
    background-color: white;
    border-bottom: 2px solid purple;
}

.navbar-nav > li > a {
    font-size: 20px;
    font-weight: bold;
}

.navbar-default:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 229px;
    width: 100%;
    background: url(../img/ville.jpg) 0 -20px no-repeat;

    opacity: .10;
    z-index: -1;

/* footer */

footer {
    -webkit-box-shadow: 0px -1px 5px #ededed;
    -moz-box-shadow: 0px -1px 5px #ededed;
    box-shadow: 0px -1px 5px #ededed;
    background-color: #fff;
    padding: 20px 0px 20px 0px;
}

.footerDiv {
    text-align: center;
}

footer a {
    color: #636467;
}

footer a:hover {
    color: #5d1c43;
    text-decoration: none;
}