
/*______block book home page_____*/
.container_block_books{
    margin:20px auto 20px auto;
    padding:0px;

}
.block_books{
    background-color: white;
    padding-bottom: 10px;
    padding-top: 10px;
    /*border:1px solid black;*/
}

.block_img{
    background:linear-gradient( 135deg, #999999 , #e9e9e9, #999999  );
    width: 300px;
    height: 300px;
    padding-bottom: 5px;
    padding-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.block_img img{
    margin:25px 0px 20px 0px;
    box-shadow: 10px 10px 10px 0px #656565;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width:90%;
    max-height: 90%;
}


.block_text{
    border-left:2px solid black;
    width:300px;

}
.text_intro{
    margin:5px;
    height:100px;
    overflow: hidden;
}
.center-block{
    float:none;
}
.btn_more{
    float: right;
    padding:2px;
    border:1px solid black;
    text-decoration: none;
    color:black;
    margin-top:50px;

}
.btn_more:hover{
    background-color: #5d1c43 ;
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 768px) {
    .block_img {
        width: 200px;
        height: 200px;
        /*display: flex;
        justify-content: center;*/
    }

    .img_book {
        height: 130px;
    }

    .block_img img {
        margin: 0px 0px 0px 0px;
        box-shadow: 5px 5px 5px 0px #656565;
        height: auto;
        width: auto;
        display: block;
    }

    .block_books {
        border-top: 1px solid;
        border-color: lightgray;
    }

    .center-block {
        float: left;
    }

    .vertical_center_block {
        display: flex;
        align-items: center;
    }

    .block_text {
        border: 0px;
        /*width:auto;*/
    }

    .btn_more {
        bottom: 0;
    }
}

/*________footer___________*/
footer {
    -webkit-box-shadow: 0px -1px 5px #ededed;
    -moz-box-shadow: 0px -1px 5px #ededed;
    box-shadow: 0px -1px 5px #ededed;
    background-color: #fff;
    padding: 20px 0px 20px 0px;
}

.footerDiv {
    text-align: center;
}

footer a {
    color: #636467;
}

footer a:hover {
    color: #5d1c43;
    text-decoration: none;
}